<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input type="file" name="fileToUpload" id="fileID">
    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>

    <script>
          // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBb0V7nAxTFMdfygEgiCK6aHZC6qiZmD9g",
    authDomain: "yourmailtoyou.firebaseapp.com",
    databaseURL: "https://yourmailtoyou.firebaseio.com",
    projectId: "yourmailtoyou",
    storageBucket: "yourmailtoyou.appspot.com",
    messagingSenderId: "262672375290"
  };
  firebase.initializeApp(config);

  var storage = firebase.storage();
var storageRef = storage.ref();

    const input = document.querySelector('input[type="file"]')
   
    input.addEventListener('change',function (e) {
        var file=input.files[0];
        console.log(file)
        fileread(file);
    },false)

function fileread(file){
    var imagesRef = storageRef.child(Date(Date.now())+'/'+file.name);
    imagesRef.put(file).then(function(snapshot) {
  alert("file uploaded")
});
}
   </script>
</body>
</html>